.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

h4,
h6 {
    font-weight: 400;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}
.removeAll{
    cursor: pointer;
    text-align: right;
    float: right;
    color: red;
}
.btnCheckout{
    background-color: #9fc4f3;
    border: 0;
    border-radius: 18px;
    padding: 5px 15px;
}
.btnForQty{
    background-color: #d9d9d9;
    border-radius: 50%;
    font-size: 14px;
    margin: 0 7px;
    border: none;
    width: 24px;
    height: 24px;
    vertical-align: middle;

    i{
        position: relative;
        top: -1px;
        font-size: 12px;
    }
}
.cart-items{
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 30%);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.cart-product{
    max-height: 500px;
    overflow-y: auto;
}
.removebtn{
    color: red;
    cursor: pointer;
}