<div class="card-top container-fluid">
    <div class="product-container">
        <div class="item">
            <div *ngFor="let item of categoryItems">
                <a (click)="filterItemsByCategory(item)">{{item}}</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addTocart(item)>Add To Cart</button>
            </div>
        </ng-container>
    </div>
</div>